<%if @proposta_pessoal %>
  <div class="row list-group">

  <%  @proposta_pessoal.each do |proposta| %>
      <div class="item  list-group-item">
        <p><b>Destinatário:</b> <%= proposta.pessoa.nome %></p>
        <p><b>Remetente:</b> <%= proposta.proposta.pessoa.nome %></p>
        <p><%= link_to 'Visualizar Proposta', proposta_path(id: proposta.id), :class=>"btn btn-primary" %></p>
      </div>
  <% end %>
  </div>
<% end %>
