<h2>Seus Itens</h2>
<%= render 'itens_ofertados_show'%>
<h2>Itens que você deseja</h2>
<%= render 'itens_demandados_show'%>
<% if @contraproposta %>
  <%= link_to 'Realizar contra Proposta', new_proposta_path(id_proposta: @proposta.id)%>
  <%= link_to 'Aceitar Proposta', aceitar_proposta_path(id_proposta: @proposta.id)%>
<% end %>
