<nav class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <%= link_to 'Meus Dados', pessoas_path %>
    </li>
    <li>
      <%= link_to 'Meus Itens', items_path %>
    </li>
    <li>
      <%= link_to 'Minhas propostas', propostas_path %>
    </li>
    <li>
      <%= link_to 'Minhas Trocas', trocas_path %>
    </li>
  </ul>
</nav>
