<div class="collapse navbar-collapse" id="navbar">
  <ul class="nav navbar-nav navbar-right">
    <li class="signup">
       <%= link_to new_pessoa_path do %>
         <span class="glyphicon glyphicon-user"></span> Sign Up
       <%end%>
    </li>
    <li class="login">
      <%= link_to login_path do%>
         <span class="glyphicon glyphicon-log-in"></span> Login
      <%end%>
    </li>
  </ul>
</div>
